###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/web-profiler-bundle ###
/config/packages/prod/web_profiler.yaml
###< symfony/web-profiler-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> IDE ###
/.idea/
/.vscode/
/.fleet/
/.phpstorm.meta.php
###< IDE ###

###> misc ###
.DS_Store
npm-debug.log
yarn-error.log
###< misc ### 