## BACKEND
NEXT_PUBLIC_BACKEND_URL=url
NEXT_PUBLIC_BACKEND_PORT=port
NEXT_PUBLIC_BACKEND_HTTP=http

## MAP
NEXT_PUBLIC_MAPBOX_STYLE=map-style
NEXT_PUBLIC_MAPBOX_TOKEN=map-token
NEXT_PUBLIC_MAPBOX_ATTRIBUTION=map-attribution

## COOKIE
NEXT_PUBLIC_COOKIE_BOT_ID=cookie-id

## SERVER
NEXT_PUBLIC_NODE_ENV=env

## LEGAL
NEXT_PUBLIC_COPYRIGHT_YEAR=2025